.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: $chip-bg-color;
}